<HTML>
<HEAD>
<TITLE>Rank-IT</TITLE>
<link rel="stylesheet" href="css/app.css" />

<!-- JQUERY -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>

<!-- BOOTSTRAP -->
<link rel="stylesheet"
	href="node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- BOOTBOX http://bootboxjs.com/ -->
<script src="node_modules/bootbox/bootbox.min.js"></script>

<!-- ANGULAR  -->
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-animate/angular-animate.min.js"></script>
<script
	src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>

<!-- UNDERSCORE -->
<script src="node_modules/underscore/underscore-min.js"></script>

<script src="js/rankitApp.js"></script>

</HEAD>
<BODY ng-app="rankitApp" ng-controller="rankitController">
	<div class="container" style="margin-top: 10px;">
		<div class="row">
			<div class="col-sm-3">
				<img src="./imagenes/rankit.jpg" class="logo">
			</div>

			<div class="col-sm-5">
				<h1>Rank-IT</h1>
			</div>
			<div ng-hide="usuarioLogueado">
				<form>
					<div class="col-sm-2">
						<div class="input-group">
							<input ng-model="loginCtrl.usuario" type="text"
								class="form-control" placeholder="nombre del usuario" /> <input
								ng-model="loginCtrl.password" type="password"
								class="form-control" placeholder="*****************" />
						</div>
					</div>
					<div class="col-sm-2">
						<button type="submit" class="btn btn-default" ng-click="loguear()">
							Login</button>
						<a href=# ng-click="registrar()">Registrate!</a>
					</div>
				</form>
			</div>
			<div ng-show="usuarioLogueado">

				<div class="row">
					<div class="col-sm-1">
						<p>Hola</p>
					</div>
					<div class="col-sm-1">
						<button class="btn btn-default" ng-click="calificar()">{{loginCtrl.usuario}}</button>
					</div>
					<div class="col-sm-1">
						<a href=# ng-click="salir()">Salir</a>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<button ng-click="calificar()">Calificar</button>
					</div>
				</div>

			</div>
			<div ng-show="principal">
				<div class="container">
					<div class="row">
						<div class="row">
							<div class="col-sm-5">
								<div class="row">
									<div class="col-sm-5">
										Nombre <input ng-model="busqueda.nombre" type="text"
											class="form-control" />
									</div>
									<div class="col-sm-5">
										Tipo
										<div>
											<select name="repeatSelect" id="repeatSelect"
												ng-model="busqueda.tipo">
												<option value="">Todos</option>
												<option value="LUGAR">Lugar</option>
												<option value="SERVICIO">Servicios</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-5">
										Calificaciones <input ng-model="busqueda.calificaciones"
											type="text" class="form-control" />
									</div>
									<div class="col-sm-5">
										Ranking <input ng-model="busqueda.ranking" type="text"
											class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-sm-5">
								<button type="submit" class="btn btn-default"
									ng-click="getRanking()">Buscar</button>
							</div>
						</div>
					</div>
				</div>
				<div>
					<h1>{{resultadosBusqueda.length}} Resultados para su busqueda</h1>
				</div>

				<!-- RESULTADOS DE BUSQUEDA -->
				<div class="row">
					<div class="col-md-6 ">
						<table class="table borde">
							<tr ng-repeat="ranking in resultadosBusqueda">
								<td>
									<div class="row borde">
										<div class="col-xm-1 margenes" data-ng-bind="ranking.ranking"></div>
										<div class="col-md-6 margenes">
											<strong><h3 data-ng-bind="ranking.evaluado.nombre"></h3></strong>
											<strong><h6 data-ng-bind="ranking.evaluado.tipo"></h6></strong>
										</div>
										<div class="col-md-4 circulo margenes">
											<h3 class="circulo-puntaje"
												data-ng-bind="ranking.evaluado.promedio"></h3>
											<small data-ng-bind="ranking.calificaciones"></small> <small>
												OPINIONES</small>
										</div>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<!-- FIN RESULTADOS DE BUSQUEDA -->

			<div ng-hide="principal">
				<div class="panel panel-default">
					<div class="panel-body">
						<h1 class="texto">Mis Calificaciones</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 ">
						<div class="panel panel-default"
							ng-repeat="calificacion in calificaciones">
							<div class="panel-body">
								<div class="row margenIzquierdo">
									<div class="col-md-4 margenes">
										<h2>{{calificacion.evaluado}}</h2>
										<strong><h6>{{calificacion.tipo}}</h6></strong>
									</div>
									<div class="col-md-3">
										<div class="circulo-puntaje">{{calificacion.puntaje}}</div>
									</div>
									<div class="col-md-4 margenIzquierdo margenes">
										<div>
											<button type="button"
												class="btn btn-default botonComun margenIzquierdo"
												ng-click="deleteCalificacion(calificacion.id, $index)">Borrar</button>
										</div>

										<div>
											<button type="button"
												class="btn btn-default botonComun margenIzquierdo margenes"
												ng-click="prepararModal($index)" data-toggle="modal"
												data-target="#modal_edicion">Modificar</button>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-body">
								<h2 class="texto">Nueva Calificaci&oacuten</h2>
							</div>
							<div class="cuadroCalificacion">
								<div class="row">
									<div class="col-md-6 margenes margenIzquierdo">
										<p>Calificado</p>
										<div ng-show="validacionNuevaCalificacion.evaluado">
											<p>Este campo es obligatorio!</p>
										</div>
										<form>
											<input list="publicaciones" type="text" name="publicacion"
												ng-model="nuevaCalificacion.evaluado" class="form-control">

											<datalist id="publicaciones">
												<option data-ng-repeat="e in evaluados" value="{{e.nombre}}">
											</datalist>
										</form>
									</div>
									<div class="col-md-3 margenes">
										<p>Puntaje</p>
										<input type="number" name="puntos" class="form-control"
											required="true" ng-model="nuevaCalificacion.puntaje">
										<div ng-show="validacionNuevaCalificacion.puntaje">
											<p>Este campo es obligatorio!</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-9 margenes margenIzquierdo">
										<p>Motivo</p>
										<textarea type="text" class="form-control" rows="3"
											ng-model="nuevaCalificacion.detalle"></textarea>
										<div ng-show="validacionNuevaCalificacion.detalle">
											<p>Este campo es obligatorio!</p>
										</div>

									</div>
								</div>

								<div class="row">
									<div class="col-md-9 margenes margenIzquierdo margenInferior">
										<button type="button" class="btn btn-default btn-lg btn-block"
											ng-click="addCalificacion()">Calificar</button>

									</div>
								</div>

							</div>
						</div>
					</div>

				</div>

			</div>


			<div id="modal_edicion" class="modal fade" tabindex="-1"
				role="dialog" aria-labelledby="basicModal" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Editar
								Calificacion</h4>
						</div>
						<div class="modal-body">
							<div class="cuadroCalificacion">
								<div class="row">
									<div class="col-md-6 margenes margenIzquierdo">
										<p>Calificado</p>
										<input type="text" name="calificado"
											ng-model="calificacionEditable.evaluado"
											uib-typeahead="evaluado.nombre for evaluado in evaluados | filter:$viewValue "
											class="form-control">
										<div ng-show="validacionCalificacionEditable.evaluado">
											<p>Este campo es obligatorio!</p>
										</div>



									</div>
									<div class="col-md-3 margenes">
										<p>Puntaje</p>
										<input type="number" name="puntos" class="form-control"
											required="true" ng-model="calificacionEditable.puntaje">
										<div ng-show="validacionCalificacionEditable.puntaje">
											<p>Este campo es obligatorio!</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-9 margenes margenIzquierdo">
										<p>Motivo</p>
										<textarea type="text" class="form-control" rows="3"
											ng-model="calificacionEditable.detalle"></textarea>
										<div ng-show="validacionCalificacionEditable.detalle">
											<p>Este campo es obligatorio!</p>
										</div>
									</div>
								</div>

							</div>


						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Cerrar</button>
							<button type="button" class="btn btn-primary"
								data-ng-click="editCalificacion(indiceDeCalificacionEditable)">Editar</button>
						</div>
					</div>
				</div>
			</div>
</BODY>
</HTML>
