<HTML>
<HEAD>
<TITLE>Rank-IT</TITLE>
<link rel="stylesheet" href="css/app.css" />

<!-- JQUERY -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>

<!-- BOOTSTRAP -->
<link rel="stylesheet"
	href="node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- ANGULAR  -->
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-animate/angular-animate.min.js"></script>
<script
	src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>

<!-- UNDERSCORE -->
<script src="node_modules/underscore/underscore-min.js"></script>




<script src="js/rankitApp.js"></script>





</HEAD>
<BODY ng-app="rankitApp" ng-controller="rankitController">
	<div class="container" style="margin-top: 10px;">
		<div class="row">
			<div class="col-sm-3">
				<img src="./imagenes/rankit.jpg" class="logo">
			</div>

			<div class="col-sm-5">
				<h1>Rank-IT</h1>
			</div>
			<div ng-hide="usuarioLogueado">
				<form>
					<div class="col-sm-2">
						<div class="input-group">
							<input ng-model="loginCtrl.usuario" type="text"
								class="form-control" placeholder="nombre del usuario" /> <input
								ng-model="loginCtrl.password" type="password"
								class="form-control" placeholder="*****************" />
						</div>
					</div>
					<div class="col-sm-2">
						<button type="submit" class="btn btn-default" ng-click="loguear()">
							Login</button>
						<a href=# ng-click="registrar()">Registrate!</a>
					</div>
				</form>
			</div>
			<div ng-show="usuarioLogueado">

				<div class="row">
					<div class="col-sm-1">
						<p>Hola</p>
					</div>
					<div class="col-sm-1">
						<p>{{loginCtrl.usuario}}</p>
					</div>
					<div class="col-sm-1">
						<button>Salir</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<button ng-click="calificar()">Calificar</button>
					</div>
				</div>

			</div>
			<div ng-show="principal">
				<div class="container">
					<div class="row">
						<div class="row">
							<div class="col-sm-5">
								<div class="row">
									<div class="col-sm-5">
										Nombre <input ng-model="busqueda.nombre" type="text"
											class="form-control" />
									</div>
									<div class="col-sm-5">
										Tipo
										<div>
											<select name="repeatSelect" id="repeatSelect"
												ng-model="busqueda.tipo">
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-5">
										Calificaciones <input ng-model="busqueda.calificaciones"
											type="text" class="form-control" />
									</div>
									<div class="col-sm-5">
										Ranking <input ng-model="busqueda.ranking" type="text"
											class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-sm-5">
								<button type="submit" class="btn btn-default" ng-click="">Buscar</button>
							</div>
						</div>
					</div>
				</div>
				<div>
					<h1>0 Resultados para su busqueda</h1>
				</div>

			</div>
			<div ng-hide="principal">
				<div class="borde">
					<h1 class="texto">Mis Calificaciones</h1>
				</div>
				<div class="row">
					<div class="col-md-6 ">
						<table class="table">
							<tr ng-repeat="calificacion in calificaciones">
								<td>
									<div class="row borde" id="{{}}">
										<div class="col-md-6 margenes">
											<strong>
												<h3>{{calificacion.evaluado}}</h3>
											</strong> <strong><h6>{{}}</h6></strong>

										</div>
										<div class="col-md-4 circulo margenes">
											<h3>{{calificacion.puntaje}}</h3>
										</div>
										<div class="col-md-2">
											<div class="margenes">
												<button type="button" class="btn btn-default botonComun"
													ng-click="deleteCalificacion(calificacion.id, $index)">Borrar</button>
											</div>
											<div class="margenes">
												<button type="button" class="btn btn-default botonComun"
													ng-click="prepararModal($index)"
													data-toggle="modal" data-target="#modal_edicion">Modificar</button>

											</div>
										</div>
									</div>
								</td>
							</tr>
						</table>

					</div>

					<div class="col-md-6">
						<div class="borde">
							<h2 class="texto">Nueva Calificacion</h2>
						</div>
						<div class="cuadroCalificacion">
							<div class="row">
								<div class="col-md-6 margenes margenIzquierdo">
									<p>Calificado</p>
									<input type="text" uib-typeahead="" class="form-control"
										ng-model="nuevaCalificacion.evaluado">


								</div>
								<div class="col-md-3 margenes">
									<p>Puntaje</p>
									<input type="number" name="puntos" class="form-control"
										required="true" ng-model="nuevaCalificacion.puntaje">

								</div>
							</div>
							<div class="row">
								<div class="col-md-9 margenes margenIzquierdo">
									<p>Motivo</p>
									<textarea type="text" class="form-control" rows="3"
										ng-model="nuevaCalificacion.detalle"></textarea>

								</div>
							</div>

							<div class="row">
								<div class="col-md-9 margenes margenIzquierdo margenInferior">
									<button type="button" class="btn btn-default btn-lg btn-block"
										ng-click="addCalificacion()">Calificar</button>

								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
			<div class="modal" id="modal_edicion">
				<div class="modal-header">
					<h3 class="modal-title" id="modal-title">Editar Calificacion</h3>
				</div>
				<div class="modal-dialog modal-sm">
					<div id="containerModal" class="modal-content"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="editCalificacion(indiceDeCalificacionEditable)">OK</button>


				</div>
			</div>

		</div>
</BODY>
</HTML>
