
input.ng-invalid {
	background-color: #CC4444;
	color: white;
}
.logo {
	width: 170px;
	height: 99px;
}

.circulo-puntaje {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 20px;
	color: white;
	line-height: 50px;
	text-align: center;
	background: gray;
}